
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ButtonGroup</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="btn-group">
                    <button class="btn btn-primary">
                        Primary
                    </button>
                    <button class="btn btn-success">
                        Success
                    </button>
                    <button class="btn btn-danger">
                        Danger
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="dropup">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Dropdown
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another Action</a></li>
                        <li><a href="#">Something Else</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
